<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Age:</b>
  <%= @patient.age %>
</p>

<p>
  <b>City:</b>
  <%= @patient.city %>
</p>

<p>
  <b>Symptoms:</b>
  <%= @patient.symptoms %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
