<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :experience %><br />
    <%= f.text_field :experience %>
  </div>
  <div class="field">
    <%= f.label :in %><br />
    <%= f.text_field :in %>
  </div>
  <div class="field">
    <%= f.label :years %><br />
    <%= f.number_field :years %>
  </div>
  <div class="field">
    <%= f.label :Bio %><br />
    <%= f.text_field :Bio %>
  </div>
  <div class="field">
    <%= f.label :specialty %><br />
    <%= f.text_field :specialty %>
  </div>
  <div class="field">
    <%= f.label :GP? %><br />
    <%= f.text_field :GP? %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
